import Config

# Required
# For more info, see https://hexdocs.pm/ecto_sql/Ecto.Adapters.Postgres.html
config :vexctf, VexCTF.Core.Repo,
  database: "vexctf",
  username: "username",
  password: "password",
  hostname: "localhost"